{% extends "parent.html" %}
{% block title %}Заказчики{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}
{% block page_name %}Заказчики{% endblock %}

{% block body %}
    <div class="container">
        <input id="url_customer_code" type="hidden" value="{{ customer_code }}" />
        <br />
        <div class="section editor">
            <div>
                <span>Код заказчика:</span>
                <span id="customer_code"></span>
            </div>
            <label for="name">Наименование
                <input id="name" type="text" />
            </label>
            <br />
            <label for="phone">Номер телефона
                <input id="phone" type="text" />
            </label>
            <br />
            <label for="city">Город
                <input id="city" type="text" />
            </label>
            <br />
            <label for="street">Улица
                <input id="street" type="text" />
            </label>
            <br />
            <label for="build">Здание
                <input id="build" type="integer" />
            </label>
            <br />
            <button id="create">Добавить</button>
            <button id="update">Изменить</button>
            <button id="delete">Удалить</button>
            <button id="reset">Очистить</button>
        </div>
        <div class="customer">
            <table>
                <caption>Заказчики</caption>
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Телефон</th>
                        <th>Город</th>
                        <th>Улица</th>
                        <th>Здание</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <div class="error">
    </div>

{% endblock %}

{% block javascript %}
{{ super() }}
<script type="module">
    // Give the imported MVC components a namespace
    import * as MVC from "/static/js/customer.js";

    // Create an intentional global variable referencing the import
    window.mvc = MVC;
</script>
{% endblock %}