{% extends "parent.html" %}
{% block title %}Мебель{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}
{% block page_name %}Мебель{% endblock %}

{% block body %}
    <div class="container">
        <input id="url_furniture_id" type="hidden" value="{{ furniture_id }}" />
        <div class="section editor">
            <div>
                <span>ID:</span>
                <span id="furniture_id"></span>
            </div>
            <label for="name">Наименование
                <input id="name" type="text" />
            </label>
            <br />
            <label for="model">Модель
                <input id="model" type="text" />
            </label>
            <br />
            <label for="cost">Цена
                <input id="cost" type="integer" />
            </label>
            <br />
            <label for="color">Цвет
                <input id="color" type="text" />
            </label>
            <br />
            <label for="weight">Вес
                <input id="weight" type="integer" />
            </label>
            <br />
            <button id="create">Добавить</button>
            <button id="update">Изменить</button>
            <button id="delete">Удалить</button>
            <button id="reset">Очистить</button>
        </div>
        <div class="furniture">
            <table>
                <caption>Мебель</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Модель</th>
                        <th>Цена</th>
                        <th>Цвет</th>
                        <th>Вес(г)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <div class="error">
    </div>

{% endblock %}

{% block javascript %}
{{ super() }}
<script type="module">
    // Give the imported MVC components a namespace
    import * as MVC from "/static/js/furniture.js";

    // Create an intentional global variable referencing the import
    window.mvc = MVC;
</script>
{% endblock %}